body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: absolute;
    top: 0;
}

.logo {
    color: #ffffff;
}

.fas {
    font-size: 24px; 
    color: #ffffff;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 15px;
}
h1{
    font-size: 18rem;
    margin-bottom: -6.5rem;
}
h2{
    font-size: 11.5rem;
    color: #ffffff;
}
.header-container {
    text-align: center;
    color: red;
}
